<div class="search-div">
    <button mat-raised-button>
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search..." autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div>
    <mat-table [dataSource]="dataSource" matSort>
    <!-- <mat-table [dataSource]="dataSource" style="background-color:#3B3534;"> -->
        <ng-container matColumnDef="empId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="empName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empEmail}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header>age</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empAge}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empAddress}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="education">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Education</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.empEducation}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-icon color="primary">launch</mat-icon>
                <mat-icon color="warn">delete_outline</mat-icon>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="nodata">
            <mat-footer-cell *matFooterCellDef colspan="6">
                no data...
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row;columns : displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide' : dataSource!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['nodata']" [ngClass]="{'hide' : !(dataSource!=null && dataSource.length==0)}"></mat-footer-row>
    </mat-table>

    <mat-paginator [length]="100"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons>
    </mat-paginator>

</div>

<!-- <div>
    <mat-paginator [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div> -->